@model Assistente_de_Estagio.Areas.Shared.Chat.Components.CardUsuarioItemComponent.CardUsuarioVM
@{
    string action = Model.Amigo ? "RemoverRelacionamento" : "CadastrarRelacionamento";
    string icon = Model.Amigo ? "remove" : "person_add";
    string tip = Model.Amigo ? "Remover amizade" : "Adicionar como amigo";
}
<div class="card usuario-card" onclick="Chat.SetUsuarioDestino('@Model.Usuario.Id')">
    <div class="collection-item avatar tooltipped" data-position="top" data-tooltip="Conversar com @Model.Usuario.ToString()">
        <div class="col col-md-11">
            @if (Model.Usuario.Logo == null)
            {
                <i class="material-icons">person_outline</i>
            }
            else
            {
                <img width="30" height="30" class="figure-img img-thumbnail m2" src="data:image;base64,@Convert.ToBase64String(Model.Usuario.Logo)" />
            }
            <span class="title"> @Model.Usuario.ToString() </span>
            <p>@Model.Usuario.IdInstituicaoNavigation.Nome</p>
            <p>@Model.Usuario.IdCursoNavigation.NomeCurso</p>
        </div>
        
        <a href="/Principal/Perfis/PerfilUsuario?id=@Model.Usuario.Id">
            <div class="right">
                <i class="hoverable material-icons tooltipped" data-position="bottom" data-tooltip="@tip">@icon</i>
            </div>
        </a>
    </div>
</div>