@using Assistente_de_Estagio.Areas.Ajuda.Models
@using ADE.Utilidades.Extensions
@model FAQViewModel
@{
    ViewData["Title"] = "FAQ";
    ViewData["Selection"] = "FAQ";
    ViewData["ViewSelection"] = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header text-muted" style="padding-top:0">
    <div class="card-body" style="position:relative">
        <a href="/Ajuda/Suporte">Ajuda ></a><a href="/Ajuda/FAQ"> FAQ </a>
    </div>
    @Model.Instituicao.ExibirEntidadeColorCoded()
    <div class="card-body flex-center">
        <div class="col-md-11">
            <form action="./Index" method="get">
                <div class="input-field">
                    <input type="hidden" name="IdInstituicao" value="0" />
                    <input type="text" name="searchString" class="form-control" list="listaPerguntas" placeholder="Pesquisar pergunta..." />
                    <input class="btn btn-primary waves-input-wrapper waves-effect waves-light" value="Pesquisar" type="submit" />
                </div>
            </form>
        </div>
    </div>
    <p class="row">
        <i class="fas fa-question"></i>
        @Model.QuantidadePerguntasRespondidas de @Html.Raw(Model.QuantidadePerguntas + Model.QuantidadePerguntasNaoRespondidas) Perguntas respondidas
    </p>
</div>
<div class="col-md-11 card-body pt-0" style="max-width: 90vw;">
    <p id="retorno-faq-action"></p>
    <p div="adicionar-faq-action"></p>
    <div class="md-form collapse" id="adicionar-faq-action"></div>
    @{
        if (Model != null)
        {
            foreach (InformacaoFAQ faq in Model.FAQS)
            {
                @await Html.PartialAsync("_ExibicaoPerguntaRespostaFAQ", faq)
            }
        }
        else
        {
            <p>Nenhuma informação foi recuperada</p>
        }
    }
    @{
        if (Model.FAQS.TotalPages > 0)
        {
            for (int i = 1; i <= Model.FAQS.TotalPages; i++)
            {
                if (i == Model.FAQS.PageIndex)
                {
                    <a href="/Ajuda/FAQ/Index?pageNumber=@i" class="btn btn-info disabled">@i</a>
                }
                else
                {
                    <a href="/Ajuda/FAQ/Index?pageNumber=@i" class="btn btn-info">@i</a>
                }
            }
            <p style="text-align:center">Página @Model.FAQS.PageIndex de @Model.FAQS.TotalPages</p>
        }
    }
</div>
@if (User.IsAdminOrCriadorConteudo())
{
    <a onclick="FAQ.AdicionarPergunta()" class="btn-floating btn-large waves-effect waves-light blue float-bottom-right"><i class="material-icons">add</i></a>
}
<datalist id="listaPerguntas">
    @foreach (var item in Model.FAQS)
    {
        <option value="@item.FAQ.Pergunta"></option>
    }
</datalist>
@section Scripts{
    <script src="~/Scripts/ADE/Ajuda/FAQ.js"></script>
    <script>
        const FAQ = new FAQDisplay(@Model.Instituicao.Identificador, 0);
        let FAQS = [];
        @foreach(InformacaoFAQ faq in Model.FAQS)
        {
            @Html.Raw($"FAQS[{faq.FAQ.Identificador}] = new FAQDisplay({Model.Instituicao.Identificador}, {faq.FAQ.Identificador});")
        }
    </script>
}